.wrap-accessory {
  width: 100%;
  .list-accessory {
    height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .accessory-box {
    border-bottom: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;

    .quantity-accessory {
      margin-left: 20px;
      margin-bottom: 4px;
      input {
        width: 60px;
        margin-left: 5px;
        padding: 0 5px;
      }
    }
  }
}
.image-accessory-transaction {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
