.satistic-dealer-container {
  width: 100%;
  height: 100px;
  padding: 50px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
  .satistic-dealer-item {
    width: 400px;
    height: 100px;
    background-color: blue;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    cursor: pointer;
    .satistic-dealer-comission {
      font-weight: bold;
      font-size: 30px;
    }
    .satistic-dealer-number {
      font-weight: bold;
      font-size: 30px;
    }
  }
  .satistic-buyCar {
    background-color: orange;
  }
  .satistic-maintenance {
    background-color: green;
  }
  .satistic-accessory {
    background-color: purple;
  }
}
