.detail-new-container {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  .detail-new-title {
    font-size: 45px;
    font-weight: bold;
    margin: 20px 0;
  }
  .detail-new-author {
    .author {
      font-size: 18px;
    }
    .detail-new-time {
      color: rgb(174, 171, 171);
      font-size: 18px;
    }
  }
  .detail-new-summary {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
  }
  .detail-new-item {
    margin: 20px 0;
    .detail-new-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 700px;
      height: 400px;
    }
    .detail-new-caption {
      color: rgb(148, 144, 144);
      margin-bottom: 20px;
      margin-top: 3px;
    }
  }
}
.detail-new-Text {
  line-height: 1.681;
  font-size: 18px;
  color: #333;
  margin: 15px 0;
}
