.select-time {
  .time {
    padding: 8px 10px;
    background: #f3f2f5;
    border-radius: 10px;
    cursor: pointer;
    &.active {
      background: #e50058;
      color: white;
    }
  }
}
.calendar {
  abbr {
    text-decoration: none;
  }
  .react-calendar__month-view__days__day--weekend {
    color: #000;
  }
  .react-calendar__tile--now {
    background: #fff;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #e50058;
    color: #fff;
  }
  .react-calendar__tile--active {
    background: #e50058;
    color: #fff;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #e50058;
    color: #fff;
  }
}
