.promotion-detail-container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  border-left: 6px solid brown;
  min-height: 1500px;
  .promotion-text {
    color: red;
    margin: 10px 0;
    font-size: 30px;
    text-align: center;
  }
  .promotion-detail-title {
    color: #555;
    font-size: 1.7rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .promotion-detail-date {
    text-align: center;
    span {
      color: #dd3333;
    }
  }
  .promotion-detail-thumnail {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 98%;
    margin: 15px auto;
    height: 500px;
  }
}
.promotion-detail-btn-box {
  margin-left: 53px;
  .btn-navigate-salon {
    border: none;
    outline: none;
    background-color: orange;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    margin-right: 20px;
    &:hover {
      transition: 0.2s;
      background-color: orangered;
    }
  }
  .facebook-share {
    border: 1px solid blue;
  }
}
