.image-salon-admin {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}
.banner-salon-admin {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}
